server {
    # listen on port 80
    listen 80;

    # where the root here
    root /usr/share/nginx/html;
    # what file to server as index
    # index index.html;

    location / {
        # to see the folder structure
        autoindex on;
    }

     location ~ ^/slides/([^/]+)/ {
        set $spa_folder $1;
        try_files $uri $uri/ /slides/$spa_folder/index.html;
    }
}
